## .NET / C#
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.usertasks
*.pidb
*.cache
*.pdb

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## OS
.DS_Store
Thumbs.db
desktop.ini

## Rider / JetBrains
.idea/
*.DotSettings.user
